body{
    background-color:lemonchiffon;
}

h1{
    color:indigo;
    text-align: center;
}
h2{
    color: indigo;
    text-align: center;
}
strong{
    color:blue;
}
a{
    color: red;
}
